---
layout: default
---

{% include header.html %}

<!-- Section -->
<section class="main alt">
  <header>
    <h1>Events</h1>
  </header>

  <div class="inner">
    <article class="post style2">
      <div class="content">
        <header>
          <span class="category">October 5-6, 2018</span>
          <h3>First annual alumni reunion!</h3>
        </header>
        <p>The Daily Bruin Alumni Network plans to host its first reunion and general meeting at UCLA in the fall. This will be our formal group launch and will offer a chance to gather in Westwood and hear about the current staff. Please visit our “Volunteer” page to help as we begin planning this exciting event.</p>
      </div>
      <div class="image" data-position="center">
        <img src="images/alumni.ADX.jpg" alt="" />
      </div>
    </article>
    <!-- <article class="post style2 alt">
      <div class="content">
        <header>
          <span class="category">October 3</span>
          <h3>Alumni Website Meeting</h3>
        </header>
        <p>Blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb
          blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb.</p>
        <ul class="actions">
          <li>
            <a href="#" class="button">RSVP</a>
          </li>
        </ul>
      </div>
      <div class="image" data-position="center">
        <img src="images/pic05.jpg" alt="" />
      </div>
    </article> -->
  </div>
</section>

<!-- Section -->
<section class="main">
  <header>
    <h1>News</h1>
  </header>
  <div class="inner style2">
    <div class="row">
      {% for post in site.posts %}
        <div class="4u">
          <span class="image fit">
            <a href="{{ post.url }}"><img src="{{ site.baseurl }}/images/{{ post.pic }}" alt="" /></a>
          </span>
          <h6>{{ post.title }}</h6>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
