<!-- Header -->
<header id="header">

    <!-- Logo -->
    <div class="logo">
        <a href="{{ site.baseurl }}/index.html">
            <strong>{{ site.title }}</strong> Daily Bruin</a>
    </div>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li>
                <a href="{{ site.baseurl }}about.html" class="icon fa-angle-down">About</a>
                <ul>
                    <li><a href="{{ site.baseurl }}hof.html">DB Hall of Fame</a></li>
                </ul>
            </li>
            <li>
                <a href="{{ site.baseurl }}connect.html">Connect</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}events.html">Events</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}newsletters.html">Newsletters</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}news.html">News</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}give.html">Give</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}contact.html">Contact</a>
            </li>
            <!-- <li>
                                <a href="#" class="icon fa-angle-down">Dropdown</a>
                                <ul>
                                    <li><a href="#">Option One</a></li>
                                    <li><a href="#">Option Two</a></li>
                                    <li><a href="#">Option Three</a></li>
                                    <li>
                                        <a href="#">Submenu</a>
                                        <ul>
                                            <li><a href="#">Option One</a></li>
                                            <li><a href="#">Option Two</a></li>
                                            <li><a href="#">Option Three</a></li>
                                            <li><a href="#">Option Four</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> -->
        </ul>
    </nav>

</header>