<!-- Header -->
{% if page.layout == "home" %}
  <header id="header" class="alt">
{% else %}
  <header id="header">
{% endif %}

  <!-- Logo -->
  <div class="logo">
    <a href="{{ site.baseurl }}/index.html">
      <strong>Daily Bruin</strong>
      {{ site.title }}
    </a>
  </div>

  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li>
        <a href="{{ site.baseurl }}about.html" class="icon fa-angle-down">About</a>
      </li>
      <li>
        <a href="http://eepurl.com/dq_Fhb">Join Us</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}give.html">Give Back</a>
      </li>
      {% comment %} <li>
        <a href="{{ site.baseurl }}give.html">Volunteer</a>
      </li> {% endcomment %}
      <li>
        <a href="{{ site.baseurl }}news.html">News & Events</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}contact.html">Contact</a>
      </li>
    </ul>
  </nav>

</header>
