<!DOCTYPE HTML>
<html>

<head>
	<title>Alumni Network</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		{{ content }}

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<!-- <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li> -->
				<li>
					<a href="#" class="icon alt fa-facebook">
						<span class="label">Facebook</span>
					</a>
				</li>
				<li>
					<a href="#" class="icon alt fa-linkedin">
						<span class="label">LinkedIn</span>
					</a>
				</li>
				<!-- <li><a href="#" class="icon alt fa-phone"><span class="label">Phone</span></a></li> -->
				<!-- <li><a href="#" class="icon alt fa-envelope-o"><span class="label">Email</span></a></li> -->
			</ul>
			<p class="copyright">
                (310)825-9898
                <br> 118 Kerckhoff Hall
			</p>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>