<!DOCTYPE HTML>
<html>

<head>
	<title>Alumni Network</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		{{ content }}

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<!-- <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li> -->
				<li>
					<a href="http://www.facebook.com/dailybruin" class="icon alt fa-facebook">
						<span class="label">Facebook</span>
					</a>
				</li>
				<li>
					<a href="http://www.twitter.com/dailybruin" class="icon alt fa-twitter">
						<span class="label">Twitter</span>
					</a>
				</li>
				<li>
					<a href="http://www.instagram.com/dailybruin" class="icon alt fa-instagram">
						<span class="label">Instagram</span>
					</a>
				</li>
				<li>
					<a href="http://www.linkedin.com/groups/2499544 " class="icon alt fa-linkedin">
						<span class="label">LinkedIn</span>
					</a>
				</li>
			</ul>
			<p class="copyright">
				alumni@dailybruin.com
				<br>
				<a href="dailybruin.com">Daily Bruin</a>
			</p>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>