---
layout: default
---

{% include header.html %}

<!-- Banner -->
<section id="banner">
  <div class="content">
    <h1>Daily Bruin</h1>
    <p>Alumni Network</p>
    <br>
    <a class="button two" href="http://eepurl.com/dq_Fhb">Join us!</a>
  </div>
  <a href="#first" class="more scrolly">Learn More</a>
</section>

<!-- Section -->
<section class="main alt" id="first">
  <header>
    <h2>Welcome</h2>
    <p>Thousands of UCLA students have called Kerckhoff Hall home for the past century. In that time, the Daily Bruin has trained young journalists and produced generations of media-savvy Bruins. As the organization enters its second century, we want to support and foster that endeavor.
    </p>
    <h3>Mission</h3>
    <p>The Daily Bruin Alumni Network will actively engage the alumni of the Daily Bruin to serve as a robust community for all former staff members, in support of each other and The Bruin. The DBAN will provide funding, mentorship and professional development programs for aspiring student-journalists at UCLA, ensuring the excellence and longevity of The Bruin. The DBAN will encourage students to reach beyond UCLA, supporting community programs to advance news literacy and the free press.
    </p>
    <a class="button" href="http://eepurl.com/dq_Fhb ">Learn more</a>
  </header>
  <div class="image main">
    <img src="{{ site.baseurl }}/images/seniors17newspapers.jpg">
  </div>
  <header>
    <h2>Give back</h2>
    <p>The Daily Bruin, like media organizations across the country, has faced significant financial challenges as advertising revenue continues to drop. Support from alumni allows the organization to bolster its reporting through travel, equipment and scholarship opportunities.
    </p>
    <a class="button" href="{{ site.baseurl }}/give.html">Give</a>
  </header>
</section>

<section class="main accent2">
  <header>
    <h2>Connect</h2>
  </header>
  <div class="inner">
    <ul class="faces">
      <li>
        <a href="https://dailybruin.us18.list-manage.com/subscribe?u=014c63d44740a2918c9745891&id=3dded81acb">
          <span class="image"><i class="fa fa-envelope-o fa-5x"></i></span>
          <h3>Join Us</h3>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/groups/126873934036600/">
          <span class="image"><i class="fa fa-facebook fa-5x"></i></span>
          <h3>Facebook</h3>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/groups/2499544/profile">
          <span class="image"><i class="fa fa-linkedin fa-5x"></i></span>
          <h3>LinkedIn</h3>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="main alt">
  <header>
    <h2>Alumni Spotlight</h2>
    <div class="image main">
      <img src="{{ site.baseurl }}/images/gary.jpg" alt="A photo of Gary E. Knell, Daily Bruin Alumni.">
    </div>
    <p>
      “The Daily Bruin was the core of my education at UCLA.  It taught me how to write, how to take criticism, how to organize teams, and provided an avenue to question authority constructively.  It’s important to nurture and save in this ‘post truth’ era. There’s never been a more important time to promote these attributes.”
    </p>
    <p>
      —Gary E. Knell ’75 (Viewpoint Editor 1975)<br>Chief Executive Officer, National Geographic Partners
    </p>
  </header>
</section>

<section class="main accent2">
  <header>
    <h2>What are alumni up to?</h2>
    <a class="twitter-timeline" data-height="600" href="https://twitter.com/tannerbwalters/lists/ucla-daily-bruin-alumni?ref_src=twsrc%5Etfw">A Twitter List by tannerbwalters</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>

<!-- Section -->
<section class="main alt">
  <header>
    <h2>News</h2>
  </header>
  <div class="inner">
    <article class="post alt">
      <div class="content">
        <header>
          <span class="category">October 29, 2017</span>
          <h3>Daily Bruin wins best online college news award and other honors</h3>
        </header>
        <p>The Daily Bruin was named one of the best online college news outlets in the nation in this year’s ACP Pacemaker competition and won four first-place College Media Award Pinnacle Awards.</p>
        <ul class="actions">
          <li>
            <a href="{{ site.baseurl }}/news.html" class="button next">Learn More</a>
          </li>
        </ul>
      </div>
      <div class="image" data-position="center">
        <img src="images/dbawards.jpg" alt="" />
      </div>
    </article>
    <!-- <article class="post">
          <div class="content">
            <header>
              <span class="category">September 27</span>
              <h3>UCLA students, local residents argue over proposal to increase housing</h3>
            </header>
            <p>Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec sed
              lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam magna tempus.
              Lorem ipsum sit tempus amet feugiat.</p>
            <ul class="actions">
              <li>
                <a href="#" class="button next">Learn More</a>
              </li>
            </ul>
          </div>
          <div class="image" data-position="center">
            <img src="images/pic08.jpg" alt="" />
          </div>
        </article>
        <article class="post alt">
          <div class="content">
            <header>
              <span class="category">September 28</span>
              <h3>Open house at botanical garden reveals new pavilion, future plans</h3>
            </header>
            <p>Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec sed
              lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam magna tempus.
              Lorem ipsum sit tempus amet feugiat.</p>
            <ul class="actions">
              <li>
                <a href="#" class="button next">Learn More</a>
              </li>
            </ul>
          </div>
          <div class="image" data-position="center">
            <img src="images/pic09.jpg" alt="" />
          </div>
        </article> -->
  </div>
</section>

<!-- Section -->
<!-- <section class="main alt">
  <header>
    <h2>Connect</h2>
  </header>
  <div class="inner style2">
    <div class="row 100% uniform">
      <div class="6u">
        <h3><a href="">Facebook</a></h3>
        <p>Are you a former Daily Bruin staffer looking to get reconnected with fellow Bruins? Join us on <a href="https://www.facebook.com/groups/126873934036600" class="icon alt fa-facebook-square" style="display: inline-block;"></a> Facebook!</p>
      </div>
      <div class="6u">
        <h3><a href="https://www.linkedin.com/groups/2499544">LinkedIn</a></h3>
        <p>Want to connect on <a href="https://www.linkedin.com/groups/2499544" class="icon alt fa-linkedin" style="display: inline-block;"></a> LinkedIn? Join our official alumni group.</p>
      </div>
    </div>
    <div class="row 100% uniform">
      <div class="6u">

      </div>
      <div class="6u">

      </div>
    </div>
  </div>
</section> -->
